<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Huy Dua NekNek</title>
  </head>
  <body>
    <h1>Hello Huy Dua with view engine</h1>
    <img src="image/Ảnh chụp màn hình 2025-03-02 130520.png" />
    <h2>Message: <%= message1 %></h2>
  </body>
</html>
